[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/legends2k/ghostwriter
[submodule "public"]
	path = public
	url = https://github.com/legends2k/legends2k.github.io.git
