{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    <article class="post-container">
        <!-- title & description -->
        {{ partial "intro.html" . }}

        <!-- intro text -->
        {{ partial "post-content.html" . }}

        <!-- article list -->
        <ol class="post-list">
            {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
            {{ end }}
        </ol>
        <div class="post-navigation">
            {{ partial "pagination.html" . }}
        </div>
    </article>
</div>

{{ partial "footer.html" . }}
